{% import "macros/panel.html" as panel %}
{% import "macros/form.html" as form %}

{% call panel.template() %}

{% call panel.header() -%}
  <span>欢迎来到社区 / 注册</span>
{%- endcall %}

{% call panel.content() -%}
  {% call form.template([{
      name: "username",
      type: "text",
      label: "账号",
      required: true
    }, {
      name: "password",
      type: "password",
      label: "密码",
      required: true
    }, {
      name: "repassword",
      type: "password",
      label: "确认密码",
      required: true
    }, {
      name: "email",
      type: "email",
      label: "电子邮箱",
      required: true
    }],
    "/account/sign_up")
  -%}
    <div class="row center-xs field">
      <button type="submit" id="js-submit" disabled="disabled">注  册</button>
    </div>
    <div class="row center-xs field">
      <span>已有帐号？<a href="/account/sign_in">立即登录</a></span>
    </div>
  {%- endcall %}
{%- endcall %}

{% endcall %}
