{% extends "layout/page.html" %}
{% import "macros/panel.html" as panel %}
{% import "macros/topic.html" as topic %}

{% block content %}
  {% include "components/banner.html" ignore missing %}
  {% call panel.template() %}
    {% call panel.header() -%}社区精华帖{%- endcall %}

    {% call panel.content() -%}
      <div class="row">
        <div class="col-xs-6">
          {{ topic.list([{
            id: "abc123456",
            title: "这是一段发帖测试文字",
            category: "瞎扯淡",
            account: {
              id: 1111,
              avatar: "/images/avatar.png",
              username: "新用户AAA"
            },
            lastReply: {
              id: "abc567890",
              timeago: "1 小时前",
              account: {
                id: 2222,
                username: "新用户BBB"
              }
            },
            replyCount: 34
          }, {
            id: "abc123456",
            title: "这是一段发帖测试文字",
            category: "瞎扯淡",
            account: {
              id: 1111,
              avatar: "/images/avatar.png",
              username: "新用户AAA"
            },
            lastReply: {
              id: "abc567890",
              timeago: "1 小时前",
              account: {
                id: 2222,
                username: "新用户BBB"
              }
            },
            replyCount: 34
          }, {
            id: "abc123456",
            title: "这是一段发帖测试文字",
            category: "瞎扯淡",
            account: {
              id: 1111,
              avatar: "/images/avatar.png",
              username: "新用户AAA"
            },
            lastReply: {
              id: "abc567890",
              timeago: "1 小时前",
              account: {
                id: 2222,
                username: "新用户BBB"
              }
            },
            replyCount: 34
          }]) }}
        </div>
        <div class="col-xs-6">
          {{ topic.list([{
            id: "abc123456",
            title: "这是一段发帖测试文字",
            category: "瞎扯淡",
            account: {
              id: 1111,
              avatar: "/images/avatar.png",
              username: "新用户AAA"
            },
            lastReply: {
              id: "abc567890",
              timeago: "1 小时前",
              account: {
                id: 2222,
                username: "新用户BBB"
              }
            },
            replyCount: 34
          }, {
            id: "abc123456",
            title: "这是一段发帖测试文字",
            category: "瞎扯淡",
            account: {
              id: 1111,
              avatar: "/images/avatar.png",
              username: "新用户AAA"
            },
            lastReply: {
              id: "abc567890",
              timeago: "1 小时前",
              account: {
                id: 2222,
                username: "新用户BBB"
              }
            },
            replyCount: 34
          }, {
            id: "abc123456",
            title: "这是一段发帖测试文字",
            category: "瞎扯淡",
            account: {
              id: 1111,
              avatar: "/images/avatar.png",
              username: "新用户AAA"
            },
            lastReply: {
              id: "abc567890",
              timeago: "1 小时前",
              account: {
                id: 2222,
                username: "新用户BBB"
              }
            },
            replyCount: 34
          }]) }}
        </div>
      </div>
    {%- endcall %}
  {% endcall %}
{% endblock %}
