<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="Chrome=1, IE=edge">
  <title>{{ title }}</title>
  <link href="//cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/flexboxgrid/6.3.1/flexboxgrid.min.css" rel="stylesheet">
  <link href="/css/common.css?v={{ version }}" rel="stylesheet">
  <link href="/css/themes/{{ theme }}.css?v={{ version }}" rel="stylesheet">
  {% block head %}{% endblock %}
</head>

<body id="root">
  {% block body %}{% endblock %}
</body>

</html>
